:root {
    --primary: #6382c8;
}

a {
    color: var(--primary);
}

h1, h2 {
    color: var(--primary);
}

.bg-blue {
    color: white;
    background-color: var(--primary);
    border: none;
}

#hero {
    background-image: url("/img/hero.png");
    background-size: cover;
    background-position: center bottom;
}
